* {
	margin: 0;
	padding: 0;
	font-size: 10px;
}

.content {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	margin-top: 4rem;
}
h1 {
	color: red;
	font-size: 4rem;
}
form {
	display: flex;
	flex-direction: column;
	width: 40rem;
	align-self: center;
	justify-self: center;
	margin-top: 3rem;
}

form button {
	width: 4rem;
	height: 2.5rem;
}

form input {
	height: 2.5rem;
}
form input::placeholder {
	padding-left: 1rem;
}
form textarea::placeholder {
	padding-top: 1rem;
	padding-left: 1rem;
}
img {
	width: 100%;
}
#loading {
	width: 30rem;
	height: 30rem;
	border-radius: 100%;
	margin: auto;
	visibility: hidden;
	animation: spin .9s infinite linear;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
}

#loading.display {
	visibility: visible;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.thank-you {
	width: 40rem;
	height: 25rem;
	border: 2px solid green;
	display: none;
	flex-direction: column;
	border-radius: 1.5rem;
	align-items: center;
	position: absolute;
	align-self: center;
	justify-self: center;
	top: 4rem;
	background-color: aliceblue;
	&__close {
		width: 2.5rem;
		height: 2.5rem;
		font-size: 2rem;
		margin-top: .5rem;
		align-self: flex-end;
		margin-right: .5rem;
		background-color: bisque;
		border: solid green 1px;
		border-radius: 1.5rem;
		color: red;
	}
	&__text {
		font-size: 4rem;
		margin-top: 6rem;
		text-align: center;
	}
}
